

<section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Nos établissements - Réservation</h1>
              <a href="{{ path('hotelcassiopee') }}">Hôtel Cassiopée</a>
              <br><span class="color-text-a">Hôtel Sirius</span>
              <br><span class="color-text-a">Hôtel spica</span>
              <br><span class="color-text-a">Hôtel Capella</span>
              <br><span class="color-text-a">Hôtel Andromede</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{{ path('app_home') }}">Menu</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Properties Grid
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>