{#Parties -> nos services page d'accueil#}
<section class="section-services section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Nos services</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="bi bi-cart"></span>
                </div>
                <div class="card-title-c align-self-center">
                  <h2 class="title-c">Accueil personalisé</h2>
                </div>
              </div>
              <div class="card-body-c">
                <p class="content-c">
                    Parce que nous souhaitons que chaque client se sentent uniques, 
                    <br>vous pouvez nous appeler 3 jours avant la date de votre séjour 
                    pour mettre en place votre chambre avec vos préférences 
                    (bouquet de fleurs, bougies parfumées ...)
                </p>
              </div>
              <div class="card-footer-c">
                <a href="#" class="link-c link-icon">En savoir plus
                  <span class="bi bi-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="bi bi-calendar4-week"></span>
                </div>
                <div class="card-title-c align-self-center">
                  <h2 class="title-c">Réservation</h2>
                </div>
              </div>
              <div class="card-body-c">
                <p class="content-c">
                    Vous pouvez réserver à la dernière minute si une de nos suite est disponible.
                    <br>Il est possible d'annuler 7 jours avant votre séjour.
                    <br>Le payement se fait uniquement sur place.
            
                </p>
              </div>
              <div class="card-footer-c">
                <a href="#" class="link-c link-icon">En savoir plus
                  <span class="bi bi-calendar4-week"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="bi bi-card-checklist"></span>
                </div>
                <div class="card-title-c align-self-center">
                  <h2 class="title-c">A votre écoute</h2>
                </div>
              </div>
              <div class="card-body-c">
                <p class="content-c">
                    Soucieux de votre séjour parmis nous, vous pouvez nous contacter via notre formulaire pour :
                    Déposer une réclamation.
                    <br>Commander un service supplémentaire.
                    <br>En savoir plus sur une suite.
                    <br>Nous informer d"un soucis avec notre application.
                </p>
              </div>
              <div class="card-footer-c">
                <a href="#" class="link-c link-icon">En savoir plus
                  <span class="bi bi-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>