{% extends "base.html.twig" %}

    {% block title %}SymRecipe - Nouveau ingrédient
    {% endblock %}
    
    {% block body %}
        <div class="container">
    
            <h1 class="mt-4">Création d'une suite classique</h1>
    
            {{ form_start(form) }}

        </div>
        {{ form_end(form) }}
    </div>{% endblock %}
    